@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Helvetica;
    src: url(Helvetica-Font/Helvetica.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
    @apply w-1  h-1;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-500 rounded-md;
  }

.font-helvetica{
    font-family: 'Helvetica';
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.font-inter{
    font-family: 'Inter', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.bg-rice-pattern{
    @apply bg-no-repeat bg-cover;
    /* background-image: url('https://cdn.discordapp.com/attachments/955281529481883729/1036902049339670528/bg.png'); */
    background-image: url('https://img.freepik.com/free-photo/piece-golden-rice-rice-waiting-be-harvested_1205-11350.jpg?w=740&t=st=1668235529~exp=1668236129~hmac=59e08b9837e3f71a952367eab3d2bc42c37008a537aa982031a09632b8d7b35a');
}

.bg-2{
    @apply bg-no-repeat bg-cover;
    /* background-image: url('https://cdn.discordapp.com/attachments/955281529481883729/1036902049339670528/bg.png'); */
    background-image: url('/bg_2.png');
}

.bg-3{
    @apply bg-no-repeat bg-cover;
    /* background-image: url('https://cdn.discordapp.com/attachments/955281529481883729/1036902049339670528/bg.png'); */
    background-image: url('/bg_3.jpg');
}

.fade{
    -webkit-mask-image: linear-gradient(180deg, #000 90%, transparent);
}

.smooth-shadow{
    box-shadow:
  32px 55px 80px rgba(0, 0, 0, 0.03)
}

.smooth-shadow2{
    box-shadow:
  0px 5px 3.6px rgba(0, 0, 0, 0.01),
  0px 13.9px 10px rgba(0, 0, 0, 0.015),
  0px 33.5px 24.1px rgba(0, 0, 0, 0.02),
  0px 111px 80px rgba(0, 0, 0, 0.03)
;
}

.smooth-shadow-thin{
    box-shadow:
  0px 0px 0.4px -30px rgba(0, 0, 0, 0.028),
  0px 0px 25.1px -30px rgba(0, 0, 0, 0.041),
  0px 0px 130px -30px rgba(0, 0, 0, 0.07)
;
}

.smooth-shadow-fade{
    box-shadow:
  0px 0px 2.4px rgba(0, 0, 0, 0.035),
  0px 0px 19px rgba(0, 0, 0, 0.07)
;
}